<a href="https://colab.research.google.com/github/Patpmccrary/python-step-1a/blob/python-step-1/pythonstep_1_1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Hello World**

In [ ]:
print("hello")

hello

Print is a function of python

#**help command**

In [ ]:
help('print')

help is a funtion of python

help gives a description of what funtion is whithn the brackets

#**comment**

In [ ]:
# comment of the week
print('this is not a comment')

""""
this
is
a
multi line
"""

this is not a comment

'"\nthis\nis\na\nmulti line\n'

comment gives you the ability to leave notes to each funtion

comment also give you the bality to control parts of the code beig written

#**variables**

In [ ]:
# bind number 7100 to Variable x
x = 100 # the value of 100 is assigned to x
#print the value of x
print(x)

100

In [ ]:
x = 350 

print(x)

350

binding numbers to variables allows funtions to be named

#**simple Program**

In [ ]:
name = input('what is your name??')
print('welcome to the world of python,', name)
red = input('choose your pill')
red = print('welcome to our side')

what is your name??patrick
welcome to the world of python, patrick

i learn that adding input creates a window for text, that you can respond to essentially, i want to figure out how to do multiple answered programs, very intresting.

In [ ]:
x = 7 # 7 is an integer(a whole numeber)
type(x)

int

In [ ]:
#to creat a float type variable
x = 3.14 #3.14 is a dec. num. witha characteristic and mantissa
type(x)

float

there are two basic data types integers and decimals (whole numbers and decimal numbers

**TEXT SEQUENCE TYPES**

In [ ]:
python_string = ('tech I.S is awesome!')

type(python_string)

str

a text sequnce is essentially a chosen phrase that can contain a sequence of code

**sequence types
mutable means can be changed after creation
immutable means the value cannot be changed after creation
list: mutable
tuple: immutable
range: immutable

In [ ]:
list_example = ['3' ,92, 'x',3.14]
print(list_example)

print(len(list_example))

type(list_example)

['3', 92, 'x', 3.14]
4

list

Lists are comma seperated values in square brackets(they are mandatory)
should be chosen if content is not fixed and always changing
cannot be used as keys for dictionary

In [ ]:
tuple_example = (5,"11" , 'a' ,2.86)
print(tuple_example)

print(len(tuple_example))

type(tuple_example)

(5, '11', 'a', 2.86)
4

tuple

Tuples are ordered comma seperated values in parenthesis(not mandatory)
can not be changed once created
only choose if content is fixed
can be used as dictionary keys

In [ ]:
#defining range
range_example = range(7)
print(range_example)

print(len(range_example))

type(range_example)

range(0, 7)
7

range

range(7) means a sequence from 0 to 7 the numbr in () is stop number

In [ ]:
#defining range with(start stop step)
range_example = range(0,20,2)
print(range_example)

print(len(range_example))

type(range_example)

range(0, 20, 2)
10

range

range is a funtion in python used to sequence numbers

**Mapping Data Type**
Dictionary

In [ ]:
b ={'one': 1, 'two': 2, 'Three' : 3}
print(b)

type(b)

{'one': 1, 'two': 2, 'Three': 3}

dict

#**Boolean Types**

In [ ]:
#define a 'true boolean
boolean = True

#check type
type(boolean)

bool

In [ ]:
# define a "true" boolean
boolean = False

# check type
type(boolean)

bool

#**set types**

In [ ]:
set_of_numbers = {0,9,1,5,7}
print(set_of_numbers)

{0, 1, 5, 7, 9}

organizes numbers in order

In [ ]:
names = ['olivia','caleb','olivia']
names_set = set(names)
unique_names = list(names_set)
print(unique_names)

['olivia', 'caleb']

#**Operators**

#numeric operators

In [ ]:
#set values of x, yand z for numeric operator exploration
x = 5   #integer value
y = 2.0 #float value
z = -13 #negative integer

#(run this first to initialize values for the next few cells)

In [ ]:
# sum of x and y
print(x + y)

7.0

In [ ]:
# difference of x and y
print( x - y)

3.0

In [ ]:
# product of x and y
print(x * y)

10.0

In [ ]:
# quotient of x and y
print(x / y)

2.5

In [ ]:
# floored quotient of x and y
print(x // y)

2.0

In [ ]:
# remainder of x / y
print(x % y)

1.0

In [ ]:
# absolute value
print(abs(z))

13

In [ ]:
# x raised topower y
print(x ** y)

25.0

In [ ]:
# rounding a dec. example rounding down
print(round(2.1))

2

In [ ]:
# rounding a decimal example rounding up
print(round(3.7))

4

In [ ]:
# binary version of the number
print(bin(37))

0b100101

In [ ]:
# hexadecimal version of the number
print(hex(37))

0x25

#**comparison operators**

In [ ]:
# Greater Than
i=3
j=7

print(i > j)

False

i can never be greater than j in this formula because of the variables

In [ ]:
# greator than or equal 
i = 3
j = 7


print(i >= j)

False

In [ ]:
#less than
i = 3
j = 7
print(i<j)

True

now I can be greator in thie formula due to the variables

In [ ]:
# less than or equal to
i = 3
j = 7

print(i <= j)

True

In [ ]:
# equality test 1
i=3
j=7

print( i==j)

False

test one shows inequality

In [ ]:
 # equality test 2
 i=3
 j=3

print(i == j)

True

In [ ]:
#inequality test 1
i = 3
j = 7
print(i != j)

True

In [ ]:
#inequality test 2
i = 3
j = 3 

print(i != j)

False

In [ ]:
## 'not operator
a = True
print(not a)

False

In [ ]:
# a and be are true

a = True
b = True

print(a and  b)

#only  a is true

a = True
b = False

print(a and b)

#ONLY B IS TRUE
a = False
b = True

print(a and b)

# a and b are both false
a = False
b = False
print(a and b)

True
False
False
False

#**Assignment Operators**

In [ ]:
# assignment operator
x =21
print(x)

21

In [ ]:
# += operator
x += 3
print(x)

24

In [ ]:
# -= operator

x -= 3
print(x)

18

In [ ]:
# *= operator

x *= 3
print(x)

63

In [ ]:
 # /= operator
 x /= 3
 print(x)

7.0

In [ ]:
# //= operator
x //= 3
print(x)

2.0

In [ ]:
# %= operator
x %= 3
print(x)

0